.background    { background: linear-gradient(to bottom, rgba(9,34,99,1) 0%, rgba(129,89,189,1) 48%, rgba(255,183,59,1) 100%);
                 table-layout: fixed;
                 border-spacing: 0;   }
.background td { padding: 0;          }
.lava          { background: rgb(48, 64, 186); }
.wall          { background: rgb(201, 12, 81);   }
.floater       { background: purple;  }

.actor  { position: absolute;  }
.player { background: rgb(255, 133, 28); }

.game {
  overflow: hidden;
  max-width: 600px;
  max-height: 450px;
  position: relative;
}
